.tweets-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  padding: 10px;
  margin: 10px;
  border-color: red;
}

 .existing-tweet-article {
  border: 1px solid #545149;
  margin: 10px;
  padding: 10px;
}

 .existing-tweet-header {
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
}

 .existing-tweet-header div {
  display: flex;
  align-items: center;
}
 .existing-tweet-body {
  display: flex;
  justify-content: flex-start;
  word-break: break-all;
  border-bottom: 1px solid black;
}

 .existing-tweet-body main {
   display: flex;
}

 .existing-tweet-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: smaller;
}
 
 .existing-tweet-handle {
   color: #24a8ff;
}