.fa-flag:hover {
  color: orange;
}
.fa-retweet:hover {
  color: orange;
}
.fa-heart:hover {
  color: orange;
}

.existing-tweet-article:hover {
  box-shadow: 5px 5px 5px #545149;
  transition: 0.15s;
}