.new-tweet {
  width: 100%;
  margin: 1em 0;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet form label {
  font-weight: bold;
}

.new-tweet form textarea {
  resize: none;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  margin-bottom: 1em;
}

.new-tweet form div {
  display: flex;
  justify-content: space-between;
}

.submit-btn-counter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
}

.counter-over {
  color: red;
  font-weight: bold;
}
